{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{# Pre render all regions. Does not work with Bigpipe module. #}
{% for key, region in page %}
  {% if key != 'no_region' and key|slice(0, 1)|lower != '#' %}

    {% set region_with_comments = region|render %}
    {% set region_no_comments = region_with_comments|remove_html_comments|trim %}

    {% if region_no_comments is not empty %}
      {% set page = page|merge({(key): {'#markup': region_with_comments}}) %}
    {% else %}
      {% set page = page|merge({(key): region_no_comments}) %}
    {% endif %}

  {% endif %}
{% endfor %}

{% if page.header or page.navigation %}
  {% include '@wmc_site/partial/header.html.twig' %}
{% endif %}

{% block main %}
  <div role="main" class="main container">
    <div class="row">
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-md-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-md-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-md-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-md-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes).addClass('order-md-2') }}>
        {% if page.above_content %}
          {% block above_content %}
            {{ page.above_content }}
          {% endblock %}
        {% endif %}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-md-3 order-md-1">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-md-3">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% if page.above_footer %}
  {% block above_footer %}
    {{ page.above_footer }}
  {% endblock %}
{% endif %}

{% if page.footer %}
  {% include '@wmc_site/partial/footer.html.twig' %}
{% endif %}