@import "../../../../profiles/wmc_standard/themes/wmc_straw/vendor/bootstrap/scss/mixins/breakpoints";

@mixin mb-up($name) {
  @include media-breakpoint-up($name) {
    @content;
  };
}

@mixin mb-down($name) {
  @include media-breakpoint-down($name) {
    @content;
  };
}

@mixin mb-between($lower, $upper) {
  @include media-breakpoint-between($lower, $upper) {
    @content;
  };
}