{% if page.header %}
  <div class="container">
    {{ page.header }}
  </div>
{% endif %}

{% if page.navigation %}
  {% block navbar %}
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
          {{ page.navigation }}
        </div>
      </div>
    </div>
  {% endblock %}
{% endif %}